@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bree+Serif&display=swap");
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');

.profile-header {
  background: #fff;
  width: 100%;
  display: flex;
  height: 190px;
  position: relative;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.profile-img {
  float: left;
  width: 340px;
  height: 200px;

}

.profile-img img {
  border-radius: 50%;
  height: 230px;
  width: 230px;
  border: 5px solid #2b6777;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50px;
  top: 20px;
  z-index: 5;
  background: #fff;
  object-fit: cover;
}

.profile-nav-info {
  float: left;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  font-family: 'Indie Flower', cursive;
  font-weight: 400;
}

.profile-nav-info h3 {
  display: flex;
  font-size: 2.5rem;
  font-family: 'Indie Flower', cursive;
  font-weight: 400;
  color: #52ab98;
  align-items: center;
}

.profile-nav-info .address {
  display: flex;
  font-weight: bold;
  color: #52ab98;
  align-items: center;
  font-size: 2rem;
}

.profile-nav-info .address span {
  display: flex;
 align-items: center;
}

.profile-nav-info .address p {
  margin-right: 5px;
}

.state{
  font-size: 2rem;
}

.profile-option {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  outline: none;
  background: #e40046;
}

.profile-option:hover {
  background: #fff;
  border: 1px solid white;
}
.profile-option:hover .notification i {
  color: white;
}

.profile-option:hover span {
  background: white;
}

.profile-option .notification i {
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
}

.profile-option .notification .alert-message {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #fff;
  color: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
}

.main-bd {
  width: 100%;
  display: flex;
  padding-right: 15px;
}

.profile-side {
  width: 300px;
  background: #52ab98;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 90px 30px 20px;
  font-family: 'Indie Flower';
  margin-left: 10px;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-side p {
  margin-bottom: 7px;
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

.profile-side p i {
  color: white;
  margin-right: 10px;
}

.bio-title{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.mobile-no i {
  transform: rotateY(180deg);
  color: #e40046;
}

.profile-btn {
  display: flex;
}

button.chatbtn,
button.createbtn {
  border: 0;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  background: white;
  color: #fff;
  font-family: "Bree Serif";
  font-size: 1rem;
  margin: 5px 2px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
  transition: background 0.3s ease-in-out;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3);
}

button.chatbtn:hover,
button.createbtn:hover {
  background: rgba(288, 0, 70, 0.9);
}

button.chatbtn i,
button.createbtn i {
  margin-right: 5px;
}

.user-rating {
  display: flex;
}

.user-rating h3 {
  font-size: 2.5rem;
  font-weight: 200;
  margin-right: 5px;
  letter-spacing: 1px;
  color: #666;
}

.user-rating .no-of-user-rate {
  font-size: 0.9rem;
}

.rate {
  padding-top: 6px;
}

.rate i {
  font-size: 0.9rem;
  color: rgba(228, 0, 70, 1);
}

.nav {
  width: 100%;
  z-index: -1;
}

.nav * {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  height: auto;
  /* background: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); */
  
}

.nav ul li {
  padding: 10px;
  /* width: 100%; */
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
  font-size: 2rem;
  font-family: 'Indie Flower', cursive;
  font-weight: 400;
  color: white;
}

/* .nav ul li:hover,
.nav ul li.active {
  box-shadow: 0px -3px 0px white inset;
} */

.profile-body {
  width: 100%;
  z-index: -1;
  display: none;
  
}

.profile-body h1{
  font-family: 'Indie Flower', cursive;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin: 2.5%;
}

.profile-body p{
  max-width: 1000px;
  /* color: white; */
  font-size: 1rem;
  font-family: 'Indie Flower'
}

.content{
  display: none;
}

.active-content{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.tab {
  display: none;
}

.tab {
  padding: 20px;
  width: 100%;
  text-align: center;
}

@media (max-width: 1100px) {
  .profile-side {
    width: 250px;
    padding: 90px 15px 20px;
  }

  .profile-img img {
    height: 200px;
    width: 200px;
    left: 50px;
    top: 50px;
  }
}

@media (max-width: 900px) {
  body {
    margin: 0 20px;
  }

  .profile-header {
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
  }

  .profile-img {
    float: left;
    width: 100%;
    height: 200px;
  }

  .profile-img img {
    position: relative;
    height: 200px;
    width: 200px;
    left: 0px;
  }

  .profile-nav-info {
    text-align: center;
  }

  .profile-option {
    right: 20px;
    top: 75%;
    transform: translateY(50%);
  }

  .main-bd {
    flex-direction: column;
    padding-right: 0;
  }

  .profile-side {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 5px 0;
  }

  .profile-nav-info .address {
    justify-content: center;
  }

  .user-rating {
    justify-content: center;
  }
}

@media (max-width: 400px) {
  body {
    margin: 0 ;
  }

 

  .profile-option {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 83%;
  }

  .profile-option .notification .alert-message {
    top: -3px;
    right: -4px;
    padding: 4px;
    height: 15px;
    width: 15px;
    font-size: 0.7rem;
  }

  .profile-nav-info h3 {
    font-size: 1.9rem;
  }

  .profile-nav-info .address p,
  .profile-nav-info .address span {
    font-size: 0.7rem;
  }
}
#see-more-bio,
#see-less-bio {
  color: blue;
  cursor: pointer;
  text-transform: lowercase;
}
.tab h1 {
  font-family: 'Indie Flower', cursive;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin: 20px auto;
}


.right-side {
  height: 100vh;
  width: 100%;
}

.profile-review-container{
  display: flex;
    justify-content: center;
    width: 400px;
    box-shadow: 0px 3px 8px #d3d3d3;
    border-radius: 25px;
    padding: 2.5%;
    background-color: white;
    height: 100%;
    flex-wrap: wrap;
    margin: 2.5%;
}

.update-profile-form-container{

}

.group{
  margin: 5%;
  
}

.group input{
  padding: 2.5%;
  width: 300px;
  outline: none;
  font-family: 'Indie Flower', cursive;
  font-weight: 400;
}

.group input[type='text']:focus{
  border-color: #ced4da; /* default B5 color or set your own color*/
  border: none !important; /* if you want to remove borders at all*/
  outline: none !important;
  box-shadow: none !important;
}

.group-rating{
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 3.5rem;
  padding: 5%;
}

.star-rating span {
  font-size: 3rem;
}

.sumbit-update-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: white;
  outline:#fff;
  cursor: pointer;
  font-family: 'Indie Flower';
  font-weight: 400;
  font-size: 1.5rem;
  padding: 2.5%;
}

.sumbit-update-button-container{
  display: flex;
  align-items: center;
  justify-content: center;
}






