
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');




.container h2 {
    font-family: 'Indie Flower', cursive;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}


.home {
    margin: 0 100px
}

.img-container p{
    font-family: 'Indie Flower';
    font-weight: 400;
}


.reviewpage-container * {
    font-family: 'Indie Flower';
    font-weight: 400;
    color: white
}





