
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');




.container h2 {
    font-family: 'Indie Flower', cursive;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}





