.category{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

p {
    margin: 10px;
    font-size: 18px;
}

.review-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: center;
}

input {
    border: none;
    padding: 20px 0px;
    font-weight: 100;
    font-size: 18px;
    width: 100%;
    text-align: center;
}
